* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 1.04vw;
    font-family: "Lato", sans-serif;
}

.lato {
    font-family: "Lato", sans-serif;
} 

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 20%;
    background-color: #10101DE5;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    z-index: 5;
}

.logo {
    width: 12rem;
}

.burger-btn {
    flex-direction: column;
    gap: 4px;
    background-color: unset;
    border: none;
    align-items: center;
    justify-content: center;
    z-index: 5;
    display: none;
}

.topline {
    width: 30px;
    height: 0;
    border-top: 3px solid white;
    transition: 0.2s;
}

.bottomline {
    width: 30px;
    height: 0;
    border-top: 3px solid white;
    transition: 0.2s;
}

.burger--turned .topline {
    rotate: 45deg;
    transform: translateY(5px);
}

.burger--turned .bottomline {
    rotate: -45deg;
    transform: translateY(-5px);
}

.opened-nav  {
    display: flex;
    align-items: center;
    gap: 3.125vw;
}

.translate-nav {
    transform: translateY(-120%);
}

.nav-link {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.closed-nav {
    background-color: #10101D;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: 0.2s;
}

.closed-nav a {
    font-size: 2rem;
    padding: 20px;
    text-align: center;
}

.nav-link--chosen {
    color: #43ABF0;
}

.nav-link:hover {
    color: color-mix(in srgb, #43abf0 80%, white 20%);
}

/* main top */

.top-block {
    background: url(assets/backgroundtop.png);
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 10.4vw 20vw;
    box-sizing: border-box;
}

.top-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 45vw;
    box-sizing: border-box;
}

.top-content__head {
    color: black;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.88rem;
}

.top-content__head span {
    color: #5397db;
}

.top-content__list p {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
}

.top-content__list ul {
    padding-left: 2rem;
}

.top-content__list-item {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
}

.top-content__btns {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.top-content__btns button {
    width: 9.53vw;
    height: 2.24vw;
    padding: 0.5rem 0;
    font-size: 0.65rem;
    border: 1px solid;
    border-radius: 4px;
}

.top-content__btns button:first-child {
    border-color: #3E9CDC;
    background-color: #3E9CDC;
    color: white;
}

.top-content__btns button:last-child {
    background-color: white;
}

/* main placing */

.placing-block {
    background: url(assets/bacgroundmap.png);
    background-color: #272733;
    background-size: cover;
    box-sizing: border-box;
    padding: 0 20vw;
    padding: 7.08vw 20vw;

}

.placing__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.placing__top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.placing__top p:first-child {
    font-weight: 800;
    font-size: 1.8rem;
    color: white;
}

.placing__top p span {
    font-weight: 800;
    font-size: 1.8rem;
    color: #3E9CDC;
}

.placing__top p:last-child {
    font-weight: 400;
    font-size: 0.9rem;
    color: #BBBBBB;
}

/*? circles */

.placing__circles {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.circle__container {
    width: 9.83vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.circle {
    box-sizing: border-box;
    background-color: #3E9CDC;
    border: 0.25rem solid #286690;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dotimg {
    display: none;
}

.circle img {
    min-width: 35%;
    max-width: 45%;
}

.circle__container p {
    font-weight: 400;
    font-size: 0.8rem;
    color: white;
}

.dots {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6.35rem;
    align-items: center;
    transform: translateY(-5.5rem);
}

.dots img {
    width: 5.73vw;
}

/*? form */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-top {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    height: 2.5vw;
}

.email-input, .name-input {
    flex-grow: 1;
    flex-basis: calc(100% / 3 * 1);
    padding-left: 0.5rem;
    font-size: 1rem;
}

.form-bottom {
    width: 100%;
    display: flex;
    gap: 0.75rem;
}

.range__container {
    flex-grow: 2;
    box-sizing: border-box;
    flex-basis: calc(100% / 3 * 2);
    display: flex;
    flex-direction: column;
}

/*  */

.button-file-input {
    flex-grow: 1;
    box-sizing: border-box;
    flex-basis: calc(100% / 3 * 1);
    position: relative;
    text-align: center;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    cursor: pointer;
}
  
.file-input__label {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
    gap: 0.25rem;
    cursor: pointer;
    color: black;
    height: -webkit-fill-available;
    text-transform:uppercase;
    font-size: 0.75rem;
    z-index: 1;
}

.file-input__label img {
    height: auto;
    cursor: pointer;
}
  
#upload {
    display: flex;
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

#upload::-webkit-file-upload-button {
    display: none;
}

/*  */

.submit-form {
    border: 1px solid white;
    background-color: #3E9CDC;
    width: 19.27vw;
    box-sizing: border-box;
    font-size: 0.75rem;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 0.75rem 0;
    text-align: center;
    line-height: 0.9rem;
    margin: auto;
    cursor: pointer;
    margin-top: 1rem;
}

/* !footer */

footer {
    height: 4.17vw;
    width: 100%;
    padding: 0 20vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3D4050;
}

.footer__copyright {
    font-weight: 400;
    font-size: 0.65rem;
    color: white;
}

footer a, footer p {
    font-size: 0.65rem;
    color: white;
    text-decoration: none;
    display: flex;
    gap: 0.25rem;
}

footer div {
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 1rem;
    height: 1rem;
    object-fit: cover;
}

footer hr {
    height: 0.5rem;
}




/* !ADAPTATION */

@media(max-width: 1500px) {
    html {
        font-size: 1.2vw;
    }

    header, .top-block, .placing-block, footer {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .dots {
        gap: 7.5rem;
        transform: translateY(-6.5rem);
    }
    
    .dots img {
        width: 8.61vw;
    }

    .circle__container p {
        text-align: center;
    }

    .top-content__btns button {
        width: 11vw;
        height: 2.58vw;
    }

    .form-top {
        height: 3vw;
    }
}

@media(max-width: 1250px) {
    html {
        font-size: 1.5vw;
    }

    .top-content__btns button {
        width: 13.74vw;
        height: 3.23vw;
    }

    .dots {
        gap: 6rem;
        transform: translateY(-7.5rem);
    }
    
    .dots img {
        width: 8.61vw;
    }

    .form-top {
        height: 3.5vw;
    }

    .circle__container p {
        font-size: 1rem;
    }
}

@media(max-width: 1080px) {
    html {
        font-size: 1.8vw;
    }

    header {
        height: auto;
        padding: 40px;
        position: sticky;
    }

    .opened-nav {
        display: none;
    }

    .burger-btn, .closed-nav {
        display: flex;
    }

    .logo {
        width: 40%;
        height: auto;
    }

    .top-block {
        padding: 0;
    }

    .top-content {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 80px 40px;
        background-color: rgb(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        gap: 80px;
    }

    .top-content__head, .top-content__list, .top-content__list-item {
        text-shadow: 1px 1px 2px white;
    }

    .top-content__head {
        font-size: 35px;
        line-height: 45px;
        text-align: center;
    }

    .top-content__list p {
        font-size: 25px;
        line-height: 30px;
    }

    .top-content__list-item {
        font-size: 25px;
        line-height: 30px;
    }

    .top-content__btns {
        width: 100%;
        height: fit-content;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .top-content__btns button {
        font-size: 20px;
        width: 90%;
        padding: 15px;
        height: fit-content;
    }

    /*  */

    .placing-block {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .placing__top p:first-child, .placing__top p span {
        font-size: 35px;
    }

    .placing__top p:last-child {
        font-size: 20px;
    }

    .placing__circles {
        flex-direction: column;
        gap: 160px;
        position: relative;
        margin: 0 auto;
        align-items: center;
    }

    .circle__container {
        width: max-content;
    }

    .circle__container p {
        font-size: 24px;
        margin-top: 20px;
        max-width: 300px;
        text-align: center;
    }

    .circle {
        width: 300px;
        height: 300px;
    }

    .dots {
        position: absolute;
        flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 500px;
        transform: translateY(-5px);
        box-sizing: border-box;
    }
    
    .dots img {
        width: 110px;
        rotate: 90deg;
    }

    /*  */

    .placing__form {
        margin-top: 80px;
    }

    .form-top {
        height: fit-content;
        flex-wrap: wrap;
        gap: 20px;
    }

    .dropdown, .email-input, .name-input {
        width: 100%;
        flex-grow: unset;
        flex-basis: unset;
        height: 40px;
        font-size: 16px;
    }

    .select {
        padding-left: 0 !important;
        font-size: 16px;
    }
    
    .form-bottom {
        flex-wrap: wrap;
        height: fit-content;
    }

    .file-input__label {
        padding: 10px 0;
        margin-top: 20px;
        border-radius: 3px;
        font-size: 16px;
        gap: 10px;
    }

    #rangevalue, .output__container span {
        font-size: 24px !important;
    }
    
    #rangevalue {
        display: flex;
        align-items: center;
        justify-content: end;
        transform: translateX(20px);
    }

    .submit-form {
        width: 100%;
        margin-top: 40px;
        padding: 20px 0;
        font-size: 20px;
    }

    /* */

    footer {
        flex-wrap: wrap;
        padding: 15px 10vw;
        height: fit-content;
        align-items: start;
        gap: 20px;
    }

    footer hr {
        display: none;
    }

    .footer__copyright {
        font-size: 16px;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    footer div {
        display: block;
    }

    footer div p, footer div a {
        font-size: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    footer img {
        width: 40px;
        height: 40px;
    }
}

@media(max-width: 570px) {
    .logo {
        width: 50%;
    }

    .top-content__head {
        font-size: 30px;
        line-height: 35px;
    }

    .top-content__list p {
        font-size: 20px;
        line-height: 25px;
    }

    .top-content__list-item {
        font-size: 20px;
        line-height: 25px;
    }

    /*  */

    .placing-block {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .placing__top p:first-child, .placing__top p span {
        font-size: 35px;
    }

    .placing__top p:last-child {
        font-size: 20px;
    }

    .placing__circles {
        flex-direction: column;
        gap: 160px;
        position: relative;
        margin: 0 auto;
        align-items: center;
    }

    .circle__container {
        width: max-content;
    }

    .circle__container p {
        font-size: 24px;
    }

    .circle {
        width: 300px;
        height: 300px;
    }

    .dots {
        display: none;
    }
    
    .dotimg {
        display: block;
        width: 110px;
        rotate: 90deg;
    }

    /*  */

    .placing__form {
        margin-top: 80px;
    }

    .form-top {
        height: fit-content;
        flex-wrap: wrap;
        gap: 20px;
    }

    .dropdown, .email-input, .name-input {
        width: 100%;
        flex-grow: unset;
        flex-basis: unset;
        height: 40px;
    }

    .select {
        padding-left: 0 !important;
        font-size: 16px;
    }
    
    .form-bottom {
        flex-wrap: wrap;
        height: fit-content;
    }

    .file-input__label {
        padding: 10px 0;
        margin-top: 20px;
        border-radius: 3px;
    }

    #rangevalue, .output__container span {
        font-size: 24px !important;
    }
    
    #rangevalue {
        display: flex;
        align-items: center;
        justify-content: end;
        transform: translateX(20px);
    }

    .submit-form {
        width: 100%;
        margin-top: 40px;
        padding: 20px 0;
    }

    /* */

    footer {
        flex-wrap: wrap;
        padding: 15px 10vw;
        height: fit-content;
        align-items: start;
    }

    footer hr {
        display: none;
    }

    .footer__copyright {
        font-size: 16px;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    footer div {
        display: block;
    }

    footer div p, footer div a {
        font-size: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    footer img {
        width: 40px;
        height: 40px;
    }
}